h1 {
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
    font-weight: 1000;
}


h2 {
    font-family: "Nunito Sans", sans-serif;
    text-align: left;
    font-weight: 1000;
    color: white;
}

.home-hero-title {
    font-family: "Nunito Sans", sans-serif;
    text-align: left;
    font-size: 4rem;
    font-weight: 1000;
}


.primary-button {
    cursor: pointer;
    background-color: var(--action-color);
    padding: 0.2rem 0.6rem;
    border: 1px solid rgb(3, 56, 8);
    border-radius: 2px;
    color: var(--primary-text-color);
    transition: transform 0.3s ease;
}

.secondary-button {
    cursor: pointer;
    padding: 0.2rem 0.6rem;
    border: 1px solid var(--secondary-color);
    border-radius: 2px;
    color: var(--primary-text-color);
    transition: all 0.3s ease;
}

.primary-button:active {
    transform: scale(0.95);
    /* Efecto de presionado */
}

.secondary-button:active {
    background-color: #ffffff;
    /* Fondo blanco cuando está pulsado */
    color: var(--primary-color);
    /* Opcional: cambia el color del texto */
    transform: scale(0.95);
    /* Efecto de presionado */
}

.action-buttons-group {
    margin-top: 1.2rem;
    display: flex;
    gap: 1rem;
}

.primary-button:hover, .secondary-button:hover {
    transform: scale(1.1);
}


#foto {
    width: 200px;
    height: auto;
}

.subtitle {
    color: rgba(107, 114, 128, 0.89);
    text-transform: uppercase;
}

.page-content {
    position: relative;
    height: 100%;
}

.page-content main:not(:has(> section:first-child#home)) {

    width: 100%;
    height: calc(100vh-60px-40px);
}

.page-content .main-content-header {
    background-image: url('../assets/coffee-bg.jpg');
    /* Agrega la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    height: 8.4rem;
    margin-bottom: 1.2rem;
    position: relative;
    color: white;
    /* Para que el texto sea visible sobre el fondo oscuro */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    /* Ajusta el espacio a la izquierda si es necesario */
    text-align: left;
}

.page-content .main-content-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    /* Oscurece el fondo con opacidad del 40% */
    z-index: 1;
}

/* Asegura que el contenido esté por encima del overlay */
.page-content .main-content-header h2,
.page-content .main-content-header p {
    position: relative;
    z-index: 2;
    margin: 0;
    text-align: left;
}

.page-content .main-content-header p {
    color: #f9f9f9;
    font-weight: 500;
}

main {
    position: static;
}

footer {
    height: 2rem;
    margin: 2rem 2rem 0rem 2.4rem;
    /* margin-top: auto; */
    bottom: 0px;
}

a {
    text-decoration: none;
}


#experience {
    margin: 0 auto;
    padding: 1rem;
}

.subtitle {
    font-size: 1.5rem;
    color: #fefefe;

    margin-bottom: 1rem;
}

.card {
    width: 100%;
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #f9f9f9;
    box-shadow: 0 4px 8px rgba(228, 228, 228, 0.1);
    margin-bottom: 1rem;
}

.card-content {
    /* flex: 1; */
    text-align: left;
    
}

.card-content h3 {
    margin: 0;
    font-size: 1.8rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

.card-content p {
    margin: 0.2rem 0;
    color: #f9f9f9;
}

.card-logo {
    margin-left: 1rem;
}

.card-fore-image {
    width: 100%;
    height: 150px;
    overflow: hidden;
}
.card-fore-image img {
    width: 100%;
    height: 100%;
    max-height: auto;
    object-fit: cover;
}
.card-logo img {
    width: 160px;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
}

.projects-grid {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 1.5rem;
}

.project-card {
    background-color: var(--primary-color);
    border-radius: 8px;
    border: solid 1px white;
    box-shadow: 0 4px 8px rgba(236, 236, 236, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-card img {
    width: 100%;
    height: auto;

    min-height: 180px;
    
    max-height: 180px;
    margin-bottom: 1rem;
    object-fit: contain;
}

.project-card iframe {
    width: 100%;
    height: auto;
    min-height: 180px;
    margin-bottom: 1rem;
}

.project-card h3 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: #f9f9f9;
}

.project-card p {
    margin: 0.5rem 0;
    color: #fefefe;
}

.project-link {
    margin-top: auto;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.project-link:hover {
    color: #0056b3;
}

.language-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 60px;
}

.language-item img {
    width: 50px;
    /* Ajusta según el tamaño deseado */
    height: auto;
    margin-bottom: 0.5rem;
    /* Espacio entre la imagen y el nombre */
}

.skills-grid {
    display: grid;
    margin-bottom: 2rem;
    
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 2rem;
}


.skills-grid h2 {
    font-size: 1.5rem;
    color: #fefefe;

    margin-bottom: 1rem;
    width: 100%;
    text-align: left;
}

.skills-grid ol {
    text-align: left;
    margin-left: 0;
    /* Elimina la indentación de la lista */
    padding-left: 0;
    /* Elimina el padding de la lista */
    list-style-type: disc;
    /* Cambia el estilo del marcador */
}

.contact-container {
    display: grid;
    gap: 2rem;
}

.map-container {
    width: 100%;
    min-height: 100%;
    margin-bottom: 1.2rem;
}


iframe {
    height: 100%;
    display: "block";
    width: 100%;
}

strong {
    font-weight: 600;
}

section form {
    display: grid;
    row-gap: 0rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    /* Alinea los elementos del formulario verticalmente */
}

.form-container h3 {
    margin-bottom: 1rem;
    /* Espacio debajo del título del formulario */
}

.form-container label {
    margin-top: 0.5rem;
    /* Espacio encima de cada etiqueta */
}

.form-container input,
.form-container textarea {
    margin-bottom: 1rem;
    /* Espacio debajo de cada input y textarea */
    padding: 0.5rem;
    /* Espacio interno en inputs y textarea */
    border: 1px solid #ccc;
    /* Borde para inputs y textarea */
    border-radius: 4px;
    /* Bordes redondeados */
}

/* 
.form-container button {
    padding: 0.5rem 1rem; 
    background-color: green; 
    color: white;  
    border: none; 
    border-radius: 4px; 
    cursor: pointer;
} */
 #home {
    display: block;
    height: 50vh ;

    margin: 0rem 2.6rem 3.6rem 2.6rem;
 }
 header {
    display: flex;
    margin: 3.6rem 3.6rem 0rem 3.6rem;
    align-items: end;
    height: 40vh;
 }
 header .home-hero-title {
    margin-top: auto;
 }

section {
    margin: 3.6rem 1.2rem;
}
section:not(:first-of-type) {
    min-height: 100vh;
}

.languages-banner-container {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}
.languages-banner {
    gap: 1rem;
    text-align: center;
    align-items: start;
}

.languages-banner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: start;
    align-items: start;
}

.lg-language {
    display: none;
}

@media (max-width: 1200px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .skills-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

    }

    .contact-container {
        grid-template-columns: 1fr;
    
    }
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .sm-language {
        display: none;
    }

}

/* Estilos para dispositivos grandes */
@media (min-width: 1200px) {
    .contact-container {
        grid-template-columns: 1fr 1fr;
    
    }
    .projects-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .skills-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    
    .languages-banner {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: start;
        align-items: start;
    }

    .lg-language {
        display: block;
    }

}
@media (min-width: 720px) {

    .card {
        display: flex;
        justify-content: space-between;
        align-items: center;    
    }
    .card-fore-image {
        display: none;
    }
    .card-logo{
        display: block;
    }

    .card-content {
        width: 60%;
    }
}

@media (max-width: 720px) {
    .projects-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;    
    }
    .card-fore-image {
        display: block;
    }
    .card-logo {
        display: none;
    }
    .card-content {
        width: 100%;
    }
}


@media (min-width: 420px) {

    .skills-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .skills-grid h2, .skills-grid ol{
        text-align: left;
    }

    .languages-banner-container {
        grid-column: span 2;
        
    }

}
@media (max-width: 420px) {

    .skills-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
    .skills-grid h2, .skills-grid ol{
        text-align: center;
    }

    .languages-banner-container {
        grid-column: span 1;   
    }

    .languages-banner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
    }
    .lg-language {
        display: block;
    }
}