.sidebar {
    position: fixed;
    height: 100vh;
    border-right: 1px solid var(--secondary-color);
    top: 0;
    left: -250px;
    background-color: var(--primary-color);
    transition: left 0.3s ease; /* Transición suave */
    z-index: 1000;
}
.sidebar.active {
    left: 0; /* Mostrar el sidebar al hacer clic */
}

.hamburger {
    display: none; /* Ocultar en pantallas grandes */
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .hamburger {
        position: fixed;
        display: block; 
        z-index: 40;
        right: 0;
        top: 0;
        color: white;
        margin: 1.2rem;/* Mostrar el botón de hamburguesa en dispositivos pequeños */
    }

    /* .landing-layout {
        grid-template-columns: 1fr; 
    } */
}

/* Estilos para dispositivos grandes */
@media (min-width: 1200px) {
    .sidebar {
        left: 0; /* Siempre mostrar el sidebar en dispositivos grandes */
    }

    .hamburger {
        display: none; /* Ocultar el botón de hamburguesa */
    }
}
.sidebar nav {
    
    display: flex;
    flex-direction: column;
    height: 92vh;
}
.sidebar nav .sidebar-main-logo {
    display: block ;
    height: auto;
}
.sidebar nav .sidebar-main-logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.sidebar nav .sidebar-main-logo span {
    font-size: xx-large;
    font-weight: 800;
}
.sidebar nav ul.navigation-links {
    display: flex;
    margin-top: 2.4rem;
    flex-direction: column;
    gap: 0.8rem;
    text-transform: uppercase;
    flex-grow: 1;
}
.sidebar nav ul.social-network-links {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
}
.sidebar nav ul li img {
    width: 24px;
    height: 24px;
}
nav a:hover {
    text-decoration: underline;
}

li {
    list-style-type: none;
}