* {
    font-family: "Maven Pro", sans-serif;
    font-weight: 200;
}

h1 {
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
    font-weight: bold;
}
h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

iframe {
    height: 400px;
    display: "block";
    width: 45%;
}

#foto {
    width: 200px;
    height: auto;
}

.subtitle {
    color: rgba(107, 114, 128, 0.89);
    text-transform: uppercase;
}

section {
    margin: 4px 2px 8px 2px;
    border: 0.2pt solid #cedddd;
    padding: 1.5% 0.8%; 
    padding-left: 1.2%; 
    padding-right: 1.2%; 
}

a {
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}

li {
    list-style-type: none;
}
footer ul {
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

section form {
    display: grid;
    row-gap: 0.5rem;
}